@charset "utf-8";
/* CSS Document */

/*fonts */

@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto");

/*     */

body {
  background-color: rgb(24, 26, 30);
}

.container {
  display: flex;
  width: 100%;
}

.row {
  display: flex;
}

#logo {
  height: 9%;
  margin-left: 5%;
}

#arrow {
  position: fixed;
  font-size: 50px;
  color: white;
  left: 22.6%;
  top: 0;
  cursor: pointer;
}

#menu {
  font-family: "Open Sans", sans-serif;
  font-size: 2.7vh;
  color: white;
  overflow: hidden;
  position: fixed;
  display: flex;
  top: 2.1%;
  left: 6%;
  opacity: 0;
  pointer-events: none;
  transition: 1s;
}

#menu > div > p {
  padding: 0 20;
}

#betOptions {
  font-family: Open Sans;
  width: 100%;
  color: rgb(176, 179, 193);
  overflow: hidden;
  background-color: rgb(41, 45, 53);
  margin: 10px;
}

#divCapital {
  float: left;
  width: 30%;
  height: 20%;
  margin: 2%;
  background-color: rgb(16, 18, 21);
}

#capitalLbl {
  text-align: center;
  font-size: 2.05vh;
  margin-top: 3%;
  font-weight: 100;
}

#editable-capital {
  color: rgb(176, 179, 193);
  width: 65%;
  height: 45%;
  margin-top: -4%;
  margin-left: 17.5%;
  font-family: "Nexa-Bold", fallback, sans-serif;
  font-size: 1.1vw;
  text-align: center;
  border: none;
  background-color: rgb(41, 45, 53);
  border-color: rgb(41, 45, 53);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.betProfitContainer {
  width: 100%;
  height: 20%;
  margin: 2%;
}

#divBet,
#divProfit {
  background-color: rgb(16, 18, 21);
}

#divBet {
  margin-bottom: 1rem;
}

#betAmountLbl,
#profitLbl {
  font-size: 1.5rem;
  font-weight: 100;
}

#editable-bmt,
#profitOption {
  color: rgb(176, 179, 193);
  width: 60%;
  height: 2rem;
  font-family: "Nexa Bold", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  background-color: rgb(41, 45, 53);
  border: none;
  float: right;
}

#betx2,
#betHalf,
#betMax {
  cursor: pointer;
  width: 7%;
  margin-left: 10px;
  font-size: 1rem;
  text-align: center;
  background-color: rgb(41, 45, 53);
  border: none;
  padding: 0;
  color: rgb(176, 179, 193);
}

.optionsContainer {
  display: flex;
}

#divRoll,
#divPayout,
#divChance {
  width: 100%;
  margin: 10px;
  padding-bottom: 15px;
  background-color: rgb(16, 18, 21);
}

#rollLbl,
#payoutLbl,
#chanceLbl,
#winEventLbl,
#lossEventLbl,
#betSpeedLbl {
  text-align: center;
  font-size: 2.05vh;
  margin-top: 3%;
  font-weight: 100;
}

#roll,
#payout,
#chance {
  color: rgb(176, 179, 193);
  width: 65%;
  height: 45%;
  margin-top: -4%;
  margin-left: 17.5%;
  font-family: "Nexa-Bold", fallback, sans-serif;
  font-size: 1.1vw;
  text-align: center;
  border: none;
  background-color: rgb(41, 45, 53);
  border-color: rgb(41, 45, 53);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

#roll {
  cursor: pointer;
}

#payout {
  background-color: rgb(33, 36, 42);
}

#input[form="percent"] {
  content: "%";
}

#divBetSpeed {
  background-color: rgb(33, 36, 42);
  width: 95.1%;
  height: 14.5%;
  margin-left: 2.2%;
  margin-bottom: 2rem;
}

#betSpeedLbl {
  margin-top: 0.5%;
}

#betSpeed {
  width: 97.8%;
}

#divChangeEvents {
  width: 100%;
  height: 27.5%;
}

#divWinEvent {
  width: 46%;
  height: 100%;
  margin-left: 2.3%;
  margin-top: -1%;
  float: left;
  background-color: rgb(33, 36, 42);
}

#winEventLbl {
  color: rgb(68, 122, 55);
  font-size: 2vh;
  text-align: left;
  margin-left: 4.5%;
}

#winIncrease,
#lossIncrease {
  width: 10%;
  text-align: center;
  background-color: rgb(41, 45, 53);
  border: none;
  color: rgb(176, 179, 193);
  font-weight: 500;
}

#lossEventLbl {
  color: rgb(190, 43, 21);
  font-size: 2vh;
  text-align: left;
  margin-left: 4.5%;
}

#divLossEvent {
  width: 46%;
  height: 100%;
  margin-right: 2.6%;
  margin-top: -1%;
  float: right;
  background-color: rgb(33, 36, 42);
}

#divWinEventChoices,
#divLossEventChoices {
  margin: 0;
  margin-left: 3%;
  font-size: 1.8vh;
}

#divWinReturn,
#divLossReturn {
  height: 25%;
}

#autoBetArea,
#analyseArea {
  font-family: Open Sans;
  color: rgb(176, 179, 193);
  width: 100%;
  height: 60%;
  background-color: rgb(41, 45, 53);
  transition: 1s;
  margin: 10px;
}

#divLast5Rolls,
#divFirst5Rolls {
  width: 95%;
  height: 17.5%;
  background-color: rgb(16, 18, 21);
  margin-left: 2.5%;
  margin-top: -2.2%;
}

#lastRollsLbl,
#firstRollsLbl {
  margin-left: 1%;
  color: rgb(176, 179, 193);
  font-size: 2.05vh;
  font-weight: 100;
}

#roll1,
#roll2,
#roll3,
#roll4,
#roll5,
#Aroll1,
#Aroll2,
#Aroll3,
#Aroll4,
#Aroll5 {
  float: left;
  width: 14%;
  height: 50%;
  margin-top: -1.5%;
  margin-left: 4.6%;
  border: 2px dotted;
  border-color: blue;
  border-radius: 10px;
  text-align: center;
  font-size: 3.5vh;
}

#divLucky,
#divWagered,
#divProfitMade,
#divNewCapital,
#divConsecutiveLosses,
#divProbability {
  float: left;
  width: 45%;
  height: 15%;
  background-color: rgb(33, 36, 42);
  margin: 2.5%;
}

#luckyLbl,
#wageredLbl,
#ConsecutiveLossesLbl,
#probabilityLbl {
  font-size: 2.05vh;
  text-align: center;
  font-weight: 100;
  margin: 0;
}

#luckyAmount,
#wageredAmount,
#ConsecutiveLossesAmount,
#probabilityAmount {
  text-align: center;
  font-size: 3vh;
  margin: 1%;
}

#divBetsWon,
#divWinStreak,
#divBetsLost,
#divLossStreak,
#div25Profit,
#div50Profit,
#div75Profit,
#div100Profit,
#divBreak25,
#divBreak50,
#divBreak75,
#divBreak100 {
  float: left;
  width: 21.875%;
  height: 20%;
  margin-left: 2.5%;
  background-color: rgb(24, 26, 30);
}

#betsWonLbl,
#winStreakLbl,
#betsLostLbl,
#lossStreakLbl,
#Profit25Lbl,
#Profit50Lbl,
#Profit75Lbl,
#Profit100Lbl,
#Break25Lbl,
#Break50Lbl,
#Break75Lbl,
#Break100Lbl {
  text-align: center;
  font-size: 1.8vh;
  margin: 1%;
  color: rgb(68, 122, 55);
}

#Profit25Lbl,
#Profit50Lbl,
#Profit75Lbl,
#Profit100Lbl,
#Break25Lbl,
#Break50Lbl,
#Break75Lbl,
#Break100Lbl {
  color: white;
}

#betsLostLbl,
#lossStreakLbl {
  color: rgb(190, 43, 21);
}

.auto3rdRow {
  text-align: center;
  font-size: 3vh;
  margin-top: 6%;
}

#divProfitMade,
#divNewCapital,
#divCurrentBet {
  float: left;
  width: 28.3%;
  height: 22.6%;
  background-color: rgb(33, 36, 42);
  margin: 2.5%;
}
#profitMadeLbl,
#newCapitalLbl,
#currentBetLbl {
  font-size: 2.05vh;
  text-align: center;
  margin-top: 3%;
}

#profitMade,
#newCapitalAmount,
#currentBetAmount {
  font-size: 3.5vh;
  text-align: center;
  margin: -2%;
}
